Playbooks/jp-export-content-bundle.yml
id: jp-4c02-4d4b-889e-9f1e1babc0d3
version: 12
vcShouldKeepItemLegacyProdMachine: false
name: JP - XSIAM Export Content Bundle
tags:
- Management
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 7c123a77-9e7e-412d-8292-c2a58536723c
    type: start
    task:
      id: 7c123a77-9e7e-412d-8292-c2a58536723c
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 402b5c0f-1b77-4624-8622-69eaee26aaf1
    type: regular
    task:
      id: 402b5c0f-1b77-4624-8622-69eaee26aaf1
      version: -1
      name: Call to the content bundle endpoint
      description: Download files from Core server.
      script: Core REST API|||core-api-download
      type: regular
      iscommand: true
      brand: Core REST API
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "8"
      '#none#':
      - "11"
    scriptarguments:
      retry-count:
        simple: "2"
      uri:
        simple: /xsoar/content/bundle
      using:
        simple: Core REST API_instance_1
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 450,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 697554ee-fba4-4764-8253-fdda1260d45e
    type: regular
    task:
      id: 697554ee-fba4-4764-8253-fdda1260d45e
      version: -1
      name: Get the server URL
      description: Get the Server URL.
      scriptName: GetServerURL
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 4724641b-9ba4-4498-80ae-fa06a5162ada
    type: regular
    task:
      id: 4724641b-9ba4-4498-80ae-fa06a5162ada
      version: -1
      name: Alert team the playbook is complete
      description: Sends an email.
      script: EWSO365|||send-mail
      type: regular
      iscommand: true
      brand: EWSO365
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    scriptarguments:
      cc:
        simple: sjafri2@schools.nyc.gov,azheng6@schools.nyc.gov,jplunkett@paloaltonetworks.com,${teamMembers}
      htmlBody:
        simple: "Hello, \n\nBelow are the results for the XSOAR Credential Reset <a
          href=\"https://02019531897.dev.xsoar.paloaltonetworks.com/#/Custom/dy3xzxurvo/${incident.id}\">Incident
          ${incident.id}</a>\n\n\n${htmlTable}"
      subject:
        simple: 'Credential Reset Complete | XSOAR Incident: ${incident.id}'
      to:
        simple: ${incident.owner}
      using:
        simple: EWSO365_schools.nyc.gov
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 620,
          "y": 4135
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 21bf4363-bf4a-448b-8e22-9f6619b67558
    type: regular
    task:
      id: 21bf4363-bf4a-448b-8e22-9f6619b67558
      version: -1
      name: Convert results to HTML table
      description: Converts a given array to an HTML table
      script: ListToHTML_v3
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      headers:
        simple: userid,userEmail,IBM,GSuite,Graph
      table:
        complex:
          root: resetResult
      title:
        simple: Credential Reset Result
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 620,
          "y": 3970
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: d8d69309-b21e-42da-85d1-b594eb825bd8
    type: regular
    task:
      id: d8d69309-b21e-42da-85d1-b594eb825bd8
      version: -1
      name: Set the incident URL
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      key:
        simple: issueURL
      value:
        complex:
          root: ServerURL
          accessor: URL
          transformers:
          - operator: concat
            args:
              prefix: {}
              suffix:
                value:
                  simple: /issue-view/${issue.id}
          - operator: concat
            args:
              prefix: {}
              suffix:
                value:
                  simple: ${incident.id}
                iscontext: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 730,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: a7c05dc5-724a-4ab5-9ffa-8d0e2f082230
    type: regular
    task:
      id: a7c05dc5-724a-4ab5-9ffa-8d0e2f082230
      version: -1
      name: Send alert to team that export failed
      description: commands.server.mail.sendmail
      script: mail-sender|||send-mail
      type: regular
      iscommand: true
      brand: mail-sender
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      htmlBody:
        simple: |-
          <!DOCTYPE html>
          <html lang="en">
          <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>XSIAM Alert</title>
            <style>
              body { margin: 0; padding: 0; background-color: #f0f2f5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
              .wrapper { padding: 32px 20px; background-color: #f0f2f5; }
              .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 4px; overflow: hidden; box-shadow: 0 1px 6px rgba(0,0,0,0.08); }

              /* Header */
              .header { background-color: #003366; padding: 20px 32px; display: flex; align-items: center; gap: 12px; }
              .logo-mark { width: 28px; height: 28px; flex-shrink: 0; }
              .logo-text { color: #ffffff; font-size: 15px; font-weight: 700; margin: 0; letter-spacing: -0.2px; }
              .logo-divider { color: #4a6a8a; margin: 0 8px; }
              .header-product { color: #8ba7c7; font-size: 15px; font-weight: 400; }

              /* Alert bar */
              .alert-bar { background-color: #FA582D; padding: 10px 32px; }
              .alert-bar p { margin: 0; color: #ffffff; font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; }

              /* Body */
              .body { padding: 32px; }
              .body h2 { font-size: 20px; font-weight: 700; color: #003366; margin: 0 0 20px; line-height: 1.3; }
              .body p { font-size: 14px; color: #444c56; line-height: 1.7; margin: 0 0 16px; }
              .body p:last-child { margin-bottom: 0; }

              /* Detail table */
              .detail-table { width: 100%; border-collapse: collapse; margin: 20px 0; font-size: 13px; }
              .detail-table tr { border-bottom: 1px solid #e8ecf0; }
              .detail-table tr:last-child { border-bottom: none; }
              .detail-table td { padding: 10px 0; vertical-align: top; }
              .detail-table td:first-child { color: #7a8898; font-weight: 600; text-transform: uppercase; letter-spacing: 0.6px; font-size: 11px; width: 140px; padding-top: 12px; }
              .detail-table td:last-child { color: #1a2533; font-weight: 500; }

              /* Footer */
              .footer { background-color: #f7f9fc; border-top: 1px solid #e8ecf0; padding: 18px 32px; }
              .footer p { margin: 0; font-size: 11px; color: #9aa5b4; line-height: 1.6; }
              .footer a { color: #9aa5b4; text-decoration: underline; }
            </style>
          </head>
          <body>
            <div class="wrapper">
              <div class="container">

                <!-- HEADER -->
                <div class="header">
                  <svg class="logo-mark" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="28" height="28" rx="3" fill="#FA582D"/>
                    <path d="M14 4L23 9V14C23 19.523 19.523 23 14 23C8.477 23 5 19.523 5 14V9L14 4Z" fill="white" fill-opacity="0.15"/>
                    <path d="M14 8L20 11.5V14C20 17.866 17.866 20 14 20C10.134 20 8 17.866 8 14V11.5L14 8Z" fill="white" fill-opacity="0.2"/>
                    <path d="M14 12L18 14V14C18 16.21 16.21 18 14 18C11.79 18 10 16.21 10 14V14L14 12Z" fill="white"/>
                  </svg>
                  <p class="logo-text">Palo Alto Networks <span class="logo-divider">|</span> <span class="header-product">XSIAM</span></p>
                </div>

                <!-- ALERT SEVERITY BAR -->
                <!-- Severity options: change text and background-color as needed -->
                <!-- Critical: #c0392b | High: #FA582D | Medium: #e67e22 | Low: #2980b9 | Info: #27ae60 -->
                <div class="alert-bar">
                  <p>&#9888; XSIAM Notification</p>
                </div>

                <!-- BODY -->
                <div class="body">
                  <h2>${issue.name}</h2>

                  <p>
                    XSIAM Issue Details
                  </p>

                  <!-- Alert Details -->
                  <table class="detail-table">
                    <tr>
                      <td>Issue ID</td>
                      <td>${issue.id}</td>
                    </tr>
                    <tr>
                      <td>Severity</td>
                      <td>${issue.severity}</td>
                    </tr>
                    <tr>
                      <td>Detected</td>
                      <td>${issue.occurred}</td>
                    </tr>
                    <tr>
                      <td>User</td>
                      <td>${issue.username.[0]}</td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td>${issue.description}</td>
                    </tr>
                    <tr>
                      <td>Recommended Action</td>
                      <td>Investigate the cause of the alert</td>
                    </tr>
                  </table>

                  <p>
                    For full incident context, logs, and investigation timeline, access the XSIAM console using the link below or contact your security operations team.
                  </p>

                  <p>
                    <a href="${issueURL}" style="color: #003366; font-weight: 600; font-size: 14px;">View Incident in XSIAM &rarr;</a>
                  </p>
                </div>

                <!-- FOOTER -->
                <div class="footer">
                  Message Sent by XSIAM
                </div>

              </div>
            </div>
          </body>
          </html>
      subject:
        simple: '[XSOAR] Alert | Failed to get content backup'
      to:
        simple: ${inputs.recipient}
      using:
        simple: Built-in Mail Sender
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 730,
          "y": 890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: a67990ba-39ba-4d5f-8c69-16f4be57f429
    type: regular
    task:
      id: a67990ba-39ba-4d5f-8c69-16f4be57f429
      version: -1
      name: Close investigation
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 6e650c7e-2aaa-4169-8b2c-dc9c6e1977ad
    type: title
    task:
      id: 6e650c7e-2aaa-4169-8b2c-dc9c6e1977ad
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3990,
        "width": 660,
        "x": 450,
        "y": 220
      }
    }
  }
inputs:
- key: recipient
  value:
    simple: jplunkett@paloaltonetworks.com
  required: false
  description: The email address to send errors to
  playbookInputQuery: null
inputSections:
- inputs:
  - recipient
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
dirtyInputs: true
adopted: true
